@media (min-width: 1200px) {
  .categoryWrapper {
    padding-left: 12px;
  }

  .addCategory {
    display: flex;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .actionArea {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .addCategoryForm {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .addCategoryBox {
    display: flex;
    gap: 19px;
  }

  .inputCategory {
    width: 480px !important;
    height: 71px !important;
    font-weight: 300 !important;
    font-size: 24px !important;
    line-height: 38px !important;
    border-color: #fff;
    color: #fff;
  }

  .inputCategory::placeholder {
    color: #CECECE;
  }

  .addCategoryButton {
    height: 77px;
    font-size: 22px;
    line-height: 35px;
    border-radius: 19px;
  }

  .addCategoryButton:disabled span::before {
    content: "Введите название и иконку для новой категории!" !important;
  }

  .changeCategory {
    width: 979px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sliderHeader {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 51px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .categorySlider {
    display: flex;
    justify-content: center;
    gap: 22px;
  }

  .categorySliderItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 30px;
    background: #D9D9D9;
    transition: background .3s ease;
  }

  .categorySliderItem:hover {
    background: #BDB7B7;
  }

  .active {
    pointer-events: none;
    background: #B99494;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .categoryName {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
  }

  .changeArea {
    display: flex;
    flex-direction: column;
  }

  .changeArea input {
    font-family: 'Hind';
    box-sizing: border-box;
    width: 304px;
    height: 55px;
    border: 1px solid #FFFFFF;
    padding: 0 21px;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: #FFF;
  }

  .changeArea input::placeholder {
    color: #CECECE;
  }

  .renameButton,
  .deleteButton {
    width: 304px;
    height: 55px;
    background: #B99494;
    border: 1px solid #B99494;
    border-radius: 13px;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .renameButton {
    margin-top: 17px !important;
  }

  .deleteButton {
    margin-top: 10px !important;
  }
}