.categoryWrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  padding-bottom: 56px;
}

.categoryLeft {
  display: flex;
  flex-direction: column;
  margin-top: 129px;
}

.addCategoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.addCategoryBox {
  display: flex;
  gap: 19px;
  width: 95%;
}

.inputCategory {
  width: 48% !important;
  height: 71px !important;
  font-weight: 300 !important;
  font-size: 24px !important;
  line-height: 38px !important;
  border-color: #fff;
  color: #fff;
}

.inputCategory::placeholder {
  color: #cecece;
}

.addCategoryButton {
  height: 77px;
  font-size: 22px;
  line-height: 35px;
  border-radius: 19px;
}

.editCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionArea {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.changeCategory {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categorySuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sliderHeader {
  margin: 0;
  padding: 43px 0 19px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 51px;
  text-transform: uppercase;
  color: #ffffff;
}

.sliderWrap {
  display: flex;
  gap: 11px;
}

.categoryIconWrapper {
  width: 832px;
  height: 100px;
}

.leftArrow {
  transform: rotate(-90deg);
}

.rightArrow {
  transform: rotate(-90deg);
}

.sliderLine {
  display: flex;
  justify-content: center;
  gap: 22px;
  position: absolute;
  right: 0;
  transition: left .3s ease-in-out;
}

.categoryError {
  margin: 50px 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  color: #b91c1c;
}

.categoryName,
.categoryErrorDelete {
  font-family: "Hind";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  margin-top: 50px;
  line-height: 38px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.categoryErrorDelete {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  user-select: none;
  color: #b91c1c;
}

.changeArea {
  display: flex;
  flex-direction: column;
}

.changeArea input {
  font-family: "Hind";
  box-sizing: border-box;
  width: 304px;
  height: 55px;
  border: 1px solid #ffffff;
  padding: 0 21px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
}

.changeArea input::placeholder {
  color: #cecece;
}

.renameButton,
.deleteButton {
  width: 304px;
  height: 55px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  border-radius: 13px;
  border: 1px solid #b99494;
  color: #ffffff;
  background: #b99494;
}

.renameButton {
  margin-top: 17px !important;
}

.deleteButton {
  margin-top: 10px !important;
}

@media (max-width: 1200px) {
  .categoryWrapper {
    display: block;
    position: relative;
  }

  .addCategoryButton {
    width: 70% !important;
    margin: 0 auto;
  }

  .inputCategory {
    font-size: 20px !important;
  }

  .categoryIconWrapper {
    width: 566px;
    height: 76px;
  }
}

@media (max-width: 767px) {
  .categoryWrapper {
    padding: 0;
  }
  .addCategoryBox {
    flex-direction: column;
    gap: 12px;
    width: 80%;
    align-items: center;
  }

  .inputCategory {
    width: 304px !important;
    height: 55px !important;
  }

  .addCategoryButton {
    font-size: 18px;
    height: 55px;
    margin-top: 8px;
  }

  .sliderHeader {
    padding-top: 30px;
    font-size: 22px;
  }

  .categoryName {
    margin-top: 30px;
  }

  .categoryIconWrapper {
    width: 234px;
  }
}
