@media (min-width: 1200px) {
  .categoryWrapper {
    padding-left: 12px;
  }

  .balance {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .balanceHeader {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FF5555;
  }
  .balanceValue {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 39px;
    letter-spacing: -0.065em;
    text-transform: lowercase;
    color: #FFFFFF;
  }

  .addCategory {
    display: flex;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .actionArea {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .addCategoryForm {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .addCategoryBox {
    display: flex;
    gap: 19px;
  }

  .inputCategory {
    width: 480px !important;
    height: 71px !important;
    font-weight: 300 !important;
    font-size: 24px !important;
    line-height: 38px !important;
    border-color: #fff;
    color: #fff;
  }

  .inputCategory::placeholder {
    color: #CECECE;
  }

  .addCategoryButton {
    height: 77px;
    font-size: 22px;
    line-height: 35px;
    border-radius: 19px;
  }

  .addCategoryButton:disabled span::before {
    content: "Введите название и иконку для новой категории!" !important;
  }

  .addButton div {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .changeCategory {
    width: 830px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sliderHeader {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 51px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .categoriesImg {
    width: 830px;
    margin: 28px 0;
  }

  .categoryName {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
  }

  .changeArea {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 30px;
  }

  .changeCategoryName {
    font-family: 'Hind';
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    border: 1px solid #d0bbbb;
    background: rgba(238, 238, 238, 0.93);
    padding: 0 10px;
    border-radius: 13px;
  }

  .renameButton,
  .deleteButton {
    width: 300px;
    height: 55px;
    background: #B99494;
    border: 1px solid #B99494;
    border-radius: 13px;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;

  }
}