.profBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 66px;
  border-bottom: 1px solid #ffffff;
}

.profForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profHead {
  margin: 53px 0 13px 0;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  text-transform: uppercase;
  color: #ff5555;
}

.profLabel {
  width: 304px;
  margin: 0 0 3px 0;
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}

.balanceInput {
  width: 304px;
  height: 55px;
  padding: 0 21px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  border-color: #fff;
  color: #fff;
}

.balanceInputError {
  border-color: #cb2424;
}

.balanceInput::placeholder {
  color: rgba(255, 255, 255, 0.27);
}

.addBalanceButton {
  width: 304px;
  height: 60px;
  margin-top: 22px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: #ffffff;
  border-radius: 13px;
}

.balancePosition {
  position: absolute;
  top: 0;
  right: 0;
}

.profEditBlock {
  display: flex;
  justify-content: center;
  padding-top: 43px;
  padding-bottom: 140px;
}

.profEditTitle {
  margin: 0 0 15px 0;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 50px;
  color: #ffffff;
}

.profEditInputTop,
.profEditInputBottom,
.profEditButtons {
  display: flex;
  gap: 29px;
}

.profEditInputTop {
  margin-bottom: 17px;
}

.profEditButtons {
  margin-top: 24px;
}

.profEditForm {
  position: relative;
}

.editError {
  width: 700px;
  position: absolute;
  bottom: -25px;
  user-select: none;
  text-align: center;
  font-family: "Hind";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #cb2424;
}

.profEditForm label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: #FFFFFF;
}

.profEditForm input {
  width: 299px;
  height: 60px;
  font-size: 20px;
}

.profEditUser, .profLogout {
  width: 299px;
  height: 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  color: #FFFFFF;
  border-radius: 10px;
  background: #884545;
}

.profEditUser {
  border-color: #3D6197;
  background: #3D6197;
}

.profEditUser:not(:disabled):hover {
  border-color: #65a1fb;
  background: #65a1fb;
}

.profEditUser:not(:disabled):active {
  border-color: #2d3b50;
  background: #2d3b50;
}
