.submitButton {
  position: relative;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #B99494;
  color: #FFFFFF;
  background: #B99494;
  transition: all .2s ease;
}

.submitButton:disabled {
  opacity: .5;
  cursor: not-allowed;
  border-color: #978D8D;
  background: #978D8D;
}

.submitButton:not(:disabled):hover {
  border-color: #9c2a2a;
  background: #9c2a2a;
}

.submitButton:not(:disabled):active {
  border-color: #642727;
  background: #642727;
}
