.expItem, .expLeft, .expRight, .expTexts, .expIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.expItem {
  box-sizing: border-box;
  width: 554px;
  height: 70px;
  justify-content: space-between;
  padding: 0 22px 0 24px;
  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: all .3s ease;
}

.expItem:not(:last-of-type) {
  margin-bottom: 25px;
}

.expItem:hover {
  background: #BDB7B7;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.expLeft {
  gap: 22px;
}

.expTexts {
  flex-direction: column;
  align-items: flex-start;
}

.expTexts > p {
  margin: 0;
}

.expRight {
  position: relative;
  gap: 39px;
}

.expName {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #604B4B;
}

.expCategory {
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  color: #968383;
}

.expSum {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #423A3A;
}

.expBtnEdit {
  cursor: pointer;
  border: 0;
  background: transparent;
}

.expShowEditDelete {
  width: 136px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background: #D9D9D9;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
  animation: openEdit .3s ease-out;
}

@keyframes openEdit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.expShowEditDelete button {
  height: 33px;
  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  transition: background .2s ease;
}

.expShowEditDelete button:hover {
  background: #BDB7B7;
}
