.expenses {
    width: 584px;
    height: 478px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 32px;
    overflow-y: auto;
}

.expItem {
    width: 554px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 7px 0 7px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #D9D9D9;
}

.expItem:first-of-type {
    margin-bottom: 5px;
}

.expLeft {
    display: flex;
    gap: 22px;
    padding-left: 22px;
}

.expIcon {}
.expTexts {}

.expRight {
    display: flex;
    gap: 25px;
    padding-right: 24px;
}

.expName {
    font-weight: 600;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #604B4B;
    margin: 0px;
}

.expCategory {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #968383;
    margin: 0px;
}

.expSum {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #423A3A;
}

.expBtnEdit {
    cursor: pointer;
    border: 0;
    background: transparent;
}

.expenses-list {
    background-color: #718cb5;
    width: 1200px;
    border-radius: 30px;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.big-text {
    font-weight: 500;
    font-size: 45px;
    margin: 0px;
    text-transform: lowercase;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-wrapper {
    display: flex;
    justify-content: center;
}

.expenses-wrapper {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.expense-heading {
    font-weight: 400;
    font-size: 25px;
    margin: 0px;
    text-transform: lowercase;
    color: #FFFFFF;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}