.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalInputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  background: #d9d9d9;
  border-radius: 10px;
  padding: 24px 26px 20px 23px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modalInputForm summary {
  border: 1px solid #605A5A;
}

.modalInput {
    border-color: #605A5A;
    color: #604B4B;
}

.modalInput::placeholder {
    color: #A09696;
}

.editExpensesButton {
  height: 51px;
  font-size: 16px;
  line-height: 26px;
  border-radius: 13px;
}

.editExpensesButton:disabled span::before {
  content: "Нельзя изменить на пустое значение!" !important;
  font-size: 12px !important;
}
