.category-item {
  width: 285px;
  height: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 30px;
  background: #D9D9D9;
}

.category-item:active {
  background: #C0ACA1;
}

.category-item div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.category-item_title {
  margin-top: auto;
  padding-bottom: 60px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
}