.contentWrapper {
    display: flex;
    justify-content: space-between;
}

.paymentInputForm {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.expensesInput {
    box-sizing: border-box;
    width: 282px;
    height: 40px;
    border: 1px solid #d0bbbb;
    background: rgba(238, 238, 238, 0.93);
    margin-right: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.addSpendButton {
    position: relative;
    width: 100%;
    height: 61px;
    padding: 14px 120px;
    border-style: none;
    background: rgba(255, 169, 169, 0.49);
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFBFB;
    margin-top: 20px;
    transition: background .2s ease;
}

.addSpendButton:hover {
    background: #ff59597d;
}

.addSpendButton:active {
    background: #642727;
}

.addSpendButton:disabled {
    cursor: not-allowed;
    background: #262626;
}

.addSpendButton:disabled::before {
    content: "Введите сумму и название!";
    position: absolute;
    top: -26px;
    left: 0;
    color: #f00;
}

.balance {
    text-align: right;
    margin-right: 10px;
    padding-top: 30px;
}

.balanceLabel {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FF5555;
    margin: 0px;
    padding-bottom: 7px;
}

.whiteText {
    font-weight: 400;
    font-size: 33px;
    margin: 0px;
    letter-spacing: -0.065em;
    text-transform: lowercase;
    color: #FFFFFF;
}