.contentWrapper {
  display: flex;
  justify-content: space-between;
}

.paymentInputForm {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 68px;
}

.postPaymentError {
  width: 100%;
  position: absolute;
  bottom: -25px;
  text-align: center;
  font-family: "Hind";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #cb2424;
}

.inputBox {
  display: flex;
  gap: 14px;
  padding: 0 8px;
}

.inputBox .categoryError {
  border: 1px solid #604b4b;
}

.expensesInput {
  border-color: #fff;
  color: #fff;
}

.expensesInputError {
  border-color: #cb2424;
}

.expensesInput::placeholder {
  color: rgba(255, 255, 255, 0.27);
}

.paymentFormCalendar {
  border: 1px solid #d9d9d9;
}

.addExpensesButton {
  height: 61px;
  font-size: 18px;
  line-height: 29px;
  border-radius: 21px;
}

@media (max-width: 767px) {
  .contentWrapper {
    justify-content: center;
  }
  .inputBox {
    flex-direction: column;
  }
  .paymentInputForm {
    padding-top: 0;
  }
}
