.content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: 20%;
}


.add_spend_button {
    width: 421px;
    height: 61px;
    padding: 14px 120px;
    border-style: none;
    background: rgba(255, 169, 169, 0.49);
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFBFB;
    margin-top: 20px;
}

.add_spend_button:focus {
    background: #718cb5;
}

.payment-input-form {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.balance {
    text-align: right;
    margin-right: 10px;
    padding-top: 30px;
}

.balance-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FF5555;
    margin: 0px;
}

.white-text {
    font-weight: 400;
    font-size: 33px;
    margin: 0px;
    letter-spacing: -0.065em;
    text-transform: lowercase;
    color: #FFFFFF;
}

.filter-form {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.filter-btn {
    box-sizing: border-box;
    width: 80px;
    height: 25px;
    border: 1px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 15px;
    border-radius: 4px;
    color: #FFFFFF;
}

.filter-btn:focus {
    background-color: rgba(255, 169, 169, 0.49);
    color: rgb(32, 32, 32);
    border-color: rgba(255, 169, 169, 0.49);
}

.filter-label {
    font-weight: 400;
    font-size: 25px;
    margin: 0px;
    letter-spacing: -0.065em;
    text-transform: lowercase;
    color: #FFFFFF;
    margin-right: 50px;

}