.footer {
  background-color: #556A8A;
  margin-top: 40px;
  padding: 15px;
}

.logoFooter {
  display: none;
}

.contentWrapper {
  display: flex;
  justify-content: space-around;
}

.participantsHeader {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 7px;
}

.participants {
  display: grid;
  row-gap: 2px;
  grid-template-columns: repeat(2, 1fr);
}

.participant {
  font-style: normal;
  font-weight: 200;
  font-size: 8px;
  line-height: 9px;
  color: #FFFFFF;
  cursor: pointer;
}

.participant:active {
  transform: translateY(1px);
}

.linkTG:active,
.linkTG:hover,
.linkTG:visited,
.linkTG:link,
.linkTG {
  text-decoration: none;
  color: inherit;
}

.contactsHeader {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.phone {
  margin: 7px 0;
}

.phone,
.email {
  font-style: normal;
  font-weight: 200;
  font-size: 8px;
  line-height: 9px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .footer {
    min-height: 230px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 0 15px;
  }

  .logoFooter {
    display: block;
  }

  .contentWrapper {
    width: 1200px;
    padding: 25px 0 0;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .copyright {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    margin-top: 12px;
    color: #FFFFFF;
  }

  .participantsHeader {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 18px;
  }

  .participants {
    row-gap: 9px;
  }

  .participant {
    font-size: 15px;
    line-height: 19px;
  }

  .contactsHeader {
    font-size: 20px;
  }

  .phone {
    margin: 28px 0 18px;
  }

  .phone,
  .email {
    font-size: 18px;
    line-height: 21px;
  }
}