.inputBox, .inputBoxError {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  padding-left: 16px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  color: #604B4B;
}

.input {
  box-sizing: border-box;
  width: 260px;
  height: 50px;
  padding: 0 16px;
  font-weight: 700;
  font-size: 15px;
  line-height: 36px;
  color: #000;
  background: #FFFFFF;
  border: 2px solid #787878;
  border-radius: 10px;
  transition: background .2s ease;
}

.input:hover {
  background: #DBDBDB;
}

.input::placeholder {
  color: #B5B5B5;
}

.inputBoxError label {
  color: #CB2424;
}

.inputBoxError input {
  border-color: #CB2424;
}

.inputError {
  width: 249px;
  display: block;
  position: absolute;
  left: 16px;
  bottom: -16px;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #CB2424;
}

@media (max-width: 767px) {
  .label {
    font-size: 16px;
  }
  .input {
    max-width: 250px;
    max-height: 36px;
  }
}