.regWrapper {
  display: flex;
  justify-content: center;
}

.regCard {
  box-sizing: border-box;
  width: 626px;
  height: 502px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 66px;
  padding-top: 32px;
  border-radius: 10px;
  background: #eeeeee;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
}

.regHead, .inputBlock {
  display: flex;
  flex-direction: column;
}

.regTitle {
  margin: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
  color: #604b4b;
}

.inputTopArea, .inputBottomArea {
  display: flex;
  gap: 20px;
}

.inputTopArea {
  margin-top: 38px;
  margin-bottom: 23px;
}

.mailsBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailsCheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.mailsCheckbox + label {
  display: inline-flex;
  align-items: center;
  margin-top: 22px;
  user-select: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #787878;
}

.mailsCheckbox + label::before {
  box-sizing: border-box;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #787878;
  border-radius: 7px;
  margin-right: 15px;
  background: #FFFFFF;
  transition: all .3s ease;
}

.mailsCheckbox:checked + label::before {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #DBDBDB;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../public/images/checked.png");
}

.mailsCheckbox:not(:checked) + label:hover::before {
  border-color: #000;
}

.mailsCheckbox:active + label::before {
  background-color: #DBDBDB;
}

.btnArea {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.regBtn {
  width: 212px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  border-radius: 10px;
  border-color: #3d6197;
  background: #3d6197;
}

.regBtn:not(:disabled):hover {
  border-color: #65a1fb;
  background: #65a1fb;
}

.regBtn:not(:disabled):active {
  border-color: #2d3b50;
  background: #2d3b50;
}
