@media (min-width: 1200px) {
    .center {
        min-width: 1200px;
        margin: 0 auto;
    }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper-top {
  flex-grow: 1;
  position: relative;
}
