.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(180deg, #4369A3 77.54%, #D3D6DA 99.97%, #DCDCDD 99.98%, #BCBCBC 99.99%);
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
