.operations {
  min-height: 780px;
  display: flex;
  justify-content: space-between;
}

.operationsLeft {
  display: flex;
}

.operationsRight {
  display: flex;
  flex-direction: column;
}

.sliderWrap {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 70px;
  margin-right: 42px;
}

.sliderIconWrapper {
  width: 100px;
  height: 588px;
  justify-content: center;
}

.leftArrow {
  transform: rotate(0);
}

.rightArrow {
  transform: rotate(0);
}

.sliderLine {
  display: flex;
  flex-direction: column;
  gap: 22px;
  transition: all .3s ease-in-out;
}

@media (max-width: 1200px) {
  .operations {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .operationsRight {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .sliderIconWrapper {
    width: 76px;
    height: 468px;
  }
  .sliderLine {
    top: 0;
  }
}

@media (max-width: 767px) {
  .operationsLeft {
    flex-direction: column;
  }
  .sliderWrap {
    margin: 20px auto;
    flex-direction: row;
    width: 95%;
  }
  .sliderIconWrapper {
    width: 254px;
    height: 63px;
  }
  .sliderLine {
    flex-direction: row;
    left: 0;
  }
  .operationsRight {
    flex-direction: column;
    gap: 10px;
  }
  .leftArrow {
    transform: rotate(-90deg);
  }
  .rightArrow {
    transform: rotate(-90deg);
  }
}
