.sliderWrapper {
    max-width: 1200px;
}

.sliderHeader {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 51px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.iconWrapper {
    width: 100px !important;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.iconWrapper:hover {
    background-color: #B99494;
    cursor: pointer;
}