.sliderArrow {
  border: none;
  cursor: pointer;
  background: transparent;
}

.sliderArrow:not(:disabled):active {
  transform: translateY(2px);
}

.sliderArrow:disabled {
  opacity: .5;
  cursor: default;
}

.sliderIconWrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.sliderIconLine {
  position: absolute;
  right: auto;
}

.categoryIcon, .categoryIconActive {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 30px;
  background: #d9d9d9;
  transition: all .3s ease;
}

.categoryIcon:hover {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #BDB7B7;
}

.categoryIconActive {
  border-radius: 30px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #B99494;
}

@media (max-width: 1200px) {
  .categoryIcon {
    width: 76px;
    height: 76px;
  }
}

@media (max-width: 767px) {
  .categoryIcon {
    width: 63px;
    height: 63px;
  }
}
